.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-2gebN_hDGqEY);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-9dKwqbwiCGar);
  font-family: var(--token-gtMCPse3z8Kj);
  font-size: var(--token-wnjC7CLxRQTK);
  line-height: var(--token-DSHUATxDuM96);
  outline-style: none;
  border-radius: var(--token-4ZXy-P6__6oM);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Q0N0aarGcT_2);
  outline-offset: 1px;
  outline-color: var(--token-DN6jIe3nra9R);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-GM40al2xUNjt);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-IIr0rFIXB2ZA);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-TxUfa9U_j9z9);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-V3tusH6ZVeal);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Y76xniXMLbmW);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-2gebN_hDGqEY);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ahPsf6COynrg);
  font-size: var(--token-Bx9yOKxyhsBo);
  column-gap: var(--token-Q0N0aarGcT_2);
  row-gap: 0px;
  border-radius: var(--token-Tr9I7fvfY3TM);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Bx9yOKxyhsBo);
  line-height: var(--token-ahPsf6COynrg);
  column-gap: var(--token-Tr9I7fvfY3TM);
  row-gap: 0px;
  border-radius: var(--token-Tr9I7fvfY3TM);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-mhTaF6fVNQ0X);
  line-height: var(--token-ywsPu0PLNsr7);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-mhTaF6fVNQ0X);
  line-height: var(--token-ywsPu0PLNsr7);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-A30g3svyXt1w);
  border-radius: var(--token-4ZXy-P6__6oM);
}
.softBackgroundcolor_neutral {
  background: var(--token-4BInEDIy9mMf);
}
.softBackgroundcolor_muted {
  background: var(--token-tGzcDf2YsFa_);
}
.softBackgroundcolor_success {
  background: var(--token-0fU7vQtkv71-);
}
.softBackgroundcolor_warning {
  background: var(--token-INHtDfKErVyt);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-NMwx9ckvI1QP);
}
.softBackgroundtype_soft {
  background: var(--token-ubl1XHMaQfMz);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.roottype_bordered_color_blue[data-hovered]
  .softBackgroundtype_bordered_color_blue {
  background: var(--token-qEg2ycTQ_M_7);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-4ZXy-P6__6oM);
  border: 0px solid var(--token-Q7Bv1znLnlan);
}
.bordercolor_neutral {
  border-color: var(--token-JOe_3MABaf8-);
}
.bordercolor_muted {
  border-color: var(--token-s5Osw51rR3x8);
}
.bordercolor_success {
  border-color: var(--token-tp4iWVwEOuZz);
}
.bordercolor_warning {
  border-color: var(--token-NzkwCQAS1SAN);
}
.bordercolor_errorDestructive {
  border-color: var(--token-kh68ZylUwMrJ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-4ZXy-P6__6oM);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-QfVgd1tZ8K7g);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-W7M7fVfmZimP);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-HRV-EwRsqDck);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rowX {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-4ZXy-P6__6oM);
  min-width: 0;
  min-height: 0;
  padding: var(--token-4ZXy-P6__6oM) var(--token-aLE-Z3l9zy9n);
}
.freeBoxsize_extraSmall__rowXGj3EI {
  padding: var(--token-Tr9I7fvfY3TM) var(--token-4ZXy-P6__6oM);
}
.freeBoxsize_small__rowXHqm1Q {
  padding: var(--token-4ZXy-P6__6oM) var(--token-9dKwqbwiCGar);
}
.freeBoxsize_large__rowXciIf {
  padding-top: var(--token-Tr9I7fvfY3TM);
  padding-bottom: var(--token-Tr9I7fvfY3TM);
}
.freeBoxsize_extraLarge__rowXZoyXc {
  padding: 16px 32px;
}
.freeBoxroundedFull__rowXiHrqw {
  padding-right: var(--token-UZiEiJVS1W-L);
  padding-left: var(--token-UZiEiJVS1W-L);
}
.freeBox__q3DaS {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__q3DaSfseBr {
  display: flex;
}
.slotTargetStart {
  color: var(--token-rHW7J6QvRbrr);
}
.slotTargetStartcolor_neutral {
  color: var(--token-TrMunq-LBW6G);
}
.slotTargetStartcolor_muted {
  color: var(--token-I0TKpkWQmdor);
}
.slotTargetStartcolor_success {
  color: var(--token-yWglBnhlmQZ6);
}
.slotTargetStartcolor_warning {
  color: var(--token-yKMLx9YJtzjp);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ID1PO2AYZiQX);
}
.slotTargetStarttype_soft {
  color: var(--token-X0693TFwezBW);
}
.slotTargetStarttype_bordered {
  color: var(--token-X0693TFwezBW);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Bx9yOKxyhsBo);
}
.slotTargetStartsize_small {
  font-size: var(--token-Bx9yOKxyhsBo);
}
.slotTargetStartsize_large {
  font-size: var(--token-mhTaF6fVNQ0X);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-mhTaF6fVNQ0X);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-839FZCCxTN_z);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-839FZCCxTN_z);
}
.svg___6I1Tv {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-rHW7J6QvRbrr);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-TrMunq-LBW6G);
}
.slotTargetLabelcolor_muted {
  color: var(--token-I0TKpkWQmdor);
}
.slotTargetLabelcolor_success {
  color: var(--token-yWglBnhlmQZ6);
}
.slotTargetLabelcolor_warning {
  color: var(--token-yKMLx9YJtzjp);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ID1PO2AYZiQX);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-X0693TFwezBW);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-839FZCCxTN_z);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-839FZCCxTN_z);
}
.text__pXtYu {
  white-space: pre;
  color: #eeeeee;
}
.freeBox___8ZaNc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___8ZaNcqZbOm {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-rHW7J6QvRbrr);
}
.slotTargetEndcolor_neutral {
  color: var(--token-TrMunq-LBW6G);
}
.slotTargetEndcolor_muted {
  color: var(--token-I0TKpkWQmdor);
}
.slotTargetEndcolor_success {
  color: var(--token-yWglBnhlmQZ6);
}
.slotTargetEndcolor_warning {
  color: var(--token-yKMLx9YJtzjp);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ID1PO2AYZiQX);
}
.slotTargetEndtype_soft {
  color: var(--token-X0693TFwezBW);
}
.slotTargetEndtype_bordered {
  color: var(--token-X0693TFwezBW);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Bx9yOKxyhsBo);
}
.slotTargetEndsize_small {
  font-size: var(--token-Bx9yOKxyhsBo);
}
.slotTargetEndsize_large {
  font-size: var(--token-mhTaF6fVNQ0X);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-mhTaF6fVNQ0X);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-qEg2ycTQ_M_7);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-ArghTO6U5YcI);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-LuPsR0gCsw-u);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-0BVy1LGFmWzD);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-839FZCCxTN_z);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-839FZCCxTN_z);
}
.svg__rxv8V {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
