.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  height: 100%;
  column-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__kyUx4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--token-8JeSh85UktNe);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  column-gap: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kyUx4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    row-gap: 16px;
    column-gap: 0px;
    min-height: 0;
  }
}
.freeBox___9Pvqn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___9Pvqn {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__owxFq {
  display: flex;
  font-size: 1rem;
}
.text___00RqO {
  white-space: pre;
  color: #eeeeee;
}
.link__ujDnX {
  display: flex;
  font-size: 1rem;
}
.text__ja2Ky {
  white-space: pre;
  color: #eeeeee;
}
.link___26TMt {
  display: flex;
  font-size: 1rem;
}
.text__mm5K2 {
  white-space: pre;
  color: #eeeeee;
}
.link__tnul {
  display: flex;
  font-size: 1rem;
}
.text___3RVx6 {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__uBy7J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  column-gap: 32px;
}
.link___2A6M9 {
  display: flex;
  font-size: 1rem;
}
.text__dyacd {
  white-space: pre;
  color: #eeeeee;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__o1Bqw {
  position: relative;
  height: 1em;
}
.text__hlNx {
  white-space: pre;
  color: #eeeeee;
}
.svg___1Q6Yn {
  position: relative;
  height: 1em;
}
